In [1]:
import urllib.request
import urllib.parse

params = urllib.parse.urlencode({'category': '역사', 'page': 25})
url = "http://unico2013.dothome.co.kr/crawling/exercise.php?%s" % params
with urllib.request.urlopen(url) as f:     
    print(f.read().decode('utf-8'))

﻿<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <title>TEST</title>
  </head>
  <body>
    <h1 style='color : red'>카테고리 : 역사</h1>
    <h2 style='color : blue'>페이지 : 25</h2>
  </body>
</html>

In [1]:
import requests

dicdata = {'category': '여행', 'page': '100'}
urlstr = 'http://unico2013.dothome.co.kr/crawling/exercise.php'
r = requests.get(urlstr, params=dicdata)
r.encoding = 'utf-8'
print(r.text)

﻿<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <title>TEST</title>
  </head>
  <body>
    <h1 style='color : red'>카테고리 : 여행</h1>
    <h2 style='color : blue'>페이지 : 100</h2>
  </body>
</html>

In [56]:
#파일명 : exercise_solution.py
import urllib.request
from bs4 import BeautifulSoup
import re
url = "http://unico2013.dothome.co.kr/crawling/exercise_bs.html" 
html = urllib.request.urlopen(url)
bs = BeautifulSoup(html.read().decode('utf-8'), "html.parser")
#bs = BeautifulSoup(html, "html.parser")
print('[<h1> 태그의 컨텐트] ', bs.h1.text)
print('[텍스트 형식으로 내용을 가지고 있는 <a> 태그의 컨텐트와 href 속성값] ',)
aTag = bs.find_all('a')
for tag in aTag:
    if(tag.text.strip()):
        print(tag.text, ' : ', tag['href'])
print('[<img> 태그의 src 속성값] ',bs.img['src'])
print('[첫 번째 <h2> 태그의 컨텐트] ',bs.h2.text)
print('[<ul> 태그의 자식 태그들중 style 속성의 값이 green으로 끝나는 태그의 컨텐트] ',bs.ul.find(style=re.compile("green$")).text)
print('[두 번째 <h2> 태그의 컨텐트] ',bs.find_all('h2')[1].text)
print('[<ol> 태그의 모든 자식 태그들의 컨텐트 ]')
olTag = bs.find("ol")
olliTag = olTag.find_all("li")
for tag in olliTag:
    print(tag.text)
print('[<table> 태그의 모든 자손 태그들의 컨텐트 ]')
print(bs.table.text.strip())
tableTag = bs.table
print('[name이라는 클래스 속성을 갖는 <tr> 태그의 컨텐트] ',tableTag.find("tr", class_="name").text)
print('[target이라는 아이디 속성을 갖는 <td> 태그의 컨텐트] ',bs.find("td", id='target').text)

[<h1> 태그의 컨텐트]  HTML의 링크 태그
[텍스트 형식으로 내용을 가지고 있는 <a> 태그의 컨텐트와 href 속성값]
World Wide Consortium  :  http://www.w3.org/
Java Page  :  http://java.sun.com/
Python Page  :  http://www.python.org/
Web Client 기술 학습  :  http://www.w3schools.com/
[<img> 태그의 src 속성값]  http://unico2013.dothome.co.kr/image/duke.jpg
[첫 번째 <h2> 태그의 컨텐트]  좋아하는 색
[<ul> 태그의 자식 태그들중 style 속성의 값이 green으로 끝나는 태그의 컨텐트]  녹색
[두 번째 <h2> 태그의 컨텐트]  먹고싶은 음식
[<ol> 태그의 모든 자식 태그들의 컨텐트 ]
짜장면
냉면
돈까스
갈비
[<table> 태그의 모든 자손 태그들의 컨텐트 ]
둘리또치도우너
케라토사우루스타조외계인
도봉구 쌍문동아프리카깐따삐아 별
[name이라는 클래스 속성을 갖는 <tr> 태그의 컨텐트]  둘리또치도우너
[target이라는 아이디 속성을 갖는 <td> 태그의 컨텐트]  아프리카

In [47]:
import urllib.request
from bs4 import BeautifulSoup
url = "http://unico2013.dothome.co.kr/crawling/exercise_bs.html" 
html = urllib.request.urlopen(url)
bs = BeautifulSoup(html, "html.parser")
print('[<h1> 태그의 컨텐트] ', bs.select('h1')[0].text)
print('[텍스트 형식으로 내용을 가지고 있는 <a> 태그의 컨텐트와 href 속성값] ',)
aTag = bs.select('a')
for tag in aTag:
    if(tag.text.strip()):
        print(tag.text, ' : ', tag['href'])
print('[<img> 태그의 src 속성값] ',bs.select('img')[0]['src'])
print('[첫 번째 <h2> 태그의 컨텐트] ',bs.select('h2:nth-of-type(1)')[0].text)
print('[<ul> 태그의 자식 태그들중 style 속성의 값이 green으로 끝나는 태그의 컨텐트] ',bs.select('ul>li[style$=green]')[0].text)
print('[두] 번째 <h2> 태그의 컨텐트] ',bs.select('h2:nth-of-type(2)')[0].text)
print('[<ol> 태그의 모든 자식 태그들의 컨텐트 ]')
olliTag = bs.select('ol>li')
for tag in olliTag:
    print(tag.text)
print('[<table> 태그의 모든 자손 태그들의 컨텐트 ]')
print(bs.select('table')[0].text.strip())
print('[name이라는 클래스 속성을 갖는 <tr> 태그의 컨텐트] ',bs.select('tr.name')[0].text)
print('[target이라는 아이디 속성을 갖는 <td> 태그의 컨텐트] ',bs.select('td#target')[0].text)

[<h1> 태그의 컨텐트]  HTML의 링크 태그
[텍스트 형식으로 내용을 가지고 있는 <a> 태그의 컨텐트와 href 속성값]
World Wide Consortium  :  http://www.w3.org/
Java Page  :  http://java.sun.com/
Python Page  :  http://www.python.org/
Web Client 기술 학습  :  http://www.w3schools.com/
[<img> 태그의 src 속성값]  http://unico2013.dothome.co.kr/image/duke.jpg
[첫 번째 <h2> 태그의 컨텐트]  좋아하는 색
[<ul> 태그의 자식 태그들중 style 속성의 값이 green으로 끝나는 태그의 컨텐트]  녹색
[두] 번째 <h2> 태그의 컨텐트]  먹고싶은 음식
[<ol> 태그의 모든 자식 태그들의 컨텐트 ]
짜장면
냉면
돈까스
갈비
[<table> 태그의 모든 자손 태그들의 컨텐트 ]
둘리또치도우너
케라토사우루스타조외계인
도봉구 쌍문동아프리카깐따삐아 별
[name이라는 클래스 속성을 갖는 <tr> 태그의 컨텐트]  둘리또치도우너
[target이라는 아이디 속성을 갖는 <td> 태그의 컨텐트]  아프리카

In [53]:
import requests
from bs4 import BeautifulSoup
import re
urlstr = 'http://unico2013.dothome.co.kr/crawling/exercise_bs.html'
r = requests.get(urlstr)
r.encoding = 'utf-8'
html_doc = r.text
# print(html_doc)
bs = BeautifulSoup(html_doc, 'html.parser')
print("[<h1> 태그의 콘텐츠]", bs.find('h1').text)
print("[텍스트 형식으로 내용을 가지고 있는 <a> 태그의 콘텐츠와 href 속성값]")
# atags = bs.find_all('a', len(text)>0)
atags = bs.find_all('a')
for atag in atags :
    if atag.string != None :
        print(atag.string, ":", atag['href'])

print("[<img> 태그의 src 속성값]", bs.img['src'])
print("[첫 번째 <h2> 태그의 콘텐츠]", bs.h2.text)
print("[<ul> 태그의 자식 태그들 중 style 속성의 값이 green으로 끝나는 태그의 콘텐츠]")
print(bs.find('ul').find_all('li', attrs={'style':re.compile("green$")})[0].text )
print("[두 번째 <h2> 태그의 콘텐츠]", bs.find_all('h2')[1].text)
print("[<ol> 태그의 모든 자식 태그들의 콘텐츠]")
for tg in bs.find('ol').find_all('li') :
    print (tg.text)
print("[<table> 태그의 모든 자손 태그들의 콘텐츠]")
for tg in bs.find('table').find_all('tr') :
    print (tg.text)
print("[name이라는 클래스 속성을 갖는 <tr> 태그의 콘텐츠]", bs.find('tr', class_="name").text)
print("[target이라는 아이디 속성을 갖는 <td> 태그의 콘텐츠]", bs.find('td', id='target').text)

[<h1> 태그의 콘텐츠] HTML의 링크 태그
[텍스트 형식으로 내용을 가지고 있는 <a> 태그의 콘텐츠와 href 속성값]
World Wide Consortium : http://www.w3.org/
Java Page : http://java.sun.com/
Python Page : http://www.python.org/
Web Client 기술 학습 : http://www.w3schools.com/
[<img> 태그의 src 속성값] http://unico2013.dothome.co.kr/image/duke.jpg
[첫 번째 <h2> 태그의 콘텐츠] 좋아하는 색
[<ul> 태그의 자식 태그들 중 style 속성의 값이 green으로 끝나는 태그의 콘텐츠]
녹색
[두 번째 <h2> 태그의 콘텐츠] 먹고싶은 음식
[<ol> 태그의 모든 자식 태그들의 콘텐츠]
짜장면
냉면
돈까스
갈비
[<table> 태그의 모든 자손 태그들의 콘텐츠]
둘리또치도우너
케라토사우루스타조외계인
도봉구 쌍문동아프리카깐따삐아 별
[name이라는 클래스 속성을 갖는 <tr> 태그의 콘텐츠] 둘리또치도우너
[target이라는 아이디 속성을 갖는 <td> 태그의 콘텐츠] 아프리카

In [2]:
import requests
from bs4 import BeautifulSoup
title = []
name = []
urlstr = 'http://media.daum.net/ranking/popular/'
r = requests.get(urlstr)
r.encoding = "utf-8"
bs = BeautifulSoup(r.text, 'html.parser')
titleList = bs.select('.rank_news>ul>li>.cont_thumb>strong>a')
nameList = bs.select('div.cont_thumb > strong > span')

for titleDom in titleList:
	title.append(titleDom.string)
for nameDom in nameList:
	name.append(nameDom.string)

print('뉴스제목--------------')
print(title)
print(len(title))

print('뉴스이름--------------')
print(name)
print(len(name))

with open('C:/Temp/news.csv', "wt", encoding="utf-8") as f:
    f.write('newstitle,newscomname\n')  
    for i in range(len(title)):
        f.write('"'+title[i]+'",'+name[i]+'\n')

뉴스제목--------------
['[단독] "QR코드 보여달라"는 포차 직원 급소 걷어찬 20대女', '호주 남성, 공원서 점심 먹다가 까치에게 두 눈 쪼여', '검찰 "동양대 표창장 위조 30초면 된다"..법정서 직접 시연', '"기자가 출근방해"..사진 찍어 SNS 올린 추미애', "LA 상공에 다시 나타난 '아이언맨'..조종사들 증언 잇따라", "'드디어 흔들리나'..마이너스 전환에 매물 쌓이기 시작한 강남", "시중에 풀린 돈 3100조 '사상 최대'..부동산·증시 거품 우려", '국민의힘 "서울·부산시장 \'시민후보\'로"..\'미스터트롯\' 경선 준비(종합)', '지적장애 딸 성폭행하고 "돌볼 사람없다"며 선처 호소한 아빠', "'따상' 갔던 빅히트 미끄러지자..엔터株 '와르르'", "'거짓 미투' 피해 박진성 시인 극단 선택 암시하고 잠적", '공중급유기로 미국 간 서욱에.. 홍준표 "장관 자가용이냐"', '장윤정 "3년 전 이혼 후 중학생·고3 두 딸과 살고 있다"(\'같이 삽시다\')[종합]', "검찰이 덮은 김기현 전 울산시장 동생의 '자백'", "보건교사 '심상정'이 국회에서 무지개칼을 휘두른 이유", '\'골목식당\' 최고 시청률 불러온 백종원 분노 "장사 너무 심하게 한다"', '[단독]"계약 끝나니 16억 내고 사라"..3679 임대가구 발동동', '"김양식장에 사용하려고" 무기산 3만리터 산속 보관한 50대', "'골목', 백종원은 왜 먹어보지도 않고 싫다고 했을까", '11일간 먹지도 자지도 않고 날아간 흑꼬리도요 신기록 세웠다(종합)', '국가비 처벌받나.."격리중 지인초대는 의무 위반, 지자체 조사"', '"걸그룹 시켜줄게" 미성년자 꼬드겨 음란행위 치과의사 징역 7년', '[D:방송 뷰] 싹쓰리에는 냉철했던 시선, 환불원정대는 다르다?', "[2020 BBMAs] 방탄소년단, 왜 인천공항서 '다이너마이트' 선보였나", "'코로나19 전쟁'서 승리했다더니..中서 돌아온 대만인 확진", "'故 구하라 협박·폭행' 최종범 징역 1년 확정..불법촬영은 결국 무죄", '진중권에 맞선 與 부대변인에 시선.."재담꾼 정치혐오 부추겨"', '김승현 \'불새2020\'으로 연기자 복귀 "최선 다할 것"(공식)', '"부르면 나간다"는 한동훈 증인채택 놓고 국감장 곳곳 설전', "박정수 '카메라가 반갑지 않는 눈빛'[포토엔HD]", '"어느 시대냐" 日정부, 나카소네 전 총리 장례때 국립대 조기 게양, 묵념 요구 논란', '\'장예원 동생\' 장예인 아나, 결혼발표 "소규모 예식..예쁘게 살게요"', '서민 교수 "대깨문 압력에 지방강의 취소돼, 대깨문의 나라"', '반년 만에 하늘길 뚫린 김해공항 국제선..첫날 승객들 "다행이에요"', "'빌런의 반격' 휴스턴, 탬파베이에 승리..최지만 1안타 [ALCS4]", '"펭수·뿡뿡이·보니하니 죄다 뺏겼습니다"..EBS 자회사 \'눈물\'', '보이스피싱에 속아 3000만원 갖고 부산 온 60대, 경찰이 예방', '대규모 확진 부산요양병원 사망 2명으로 늘어..추가 확진은 없어(종합)', '경비행기 추락사고서 엄마 품에 안긴 한살 아기만 살았다(종합)', "개와 늑대의 잡종 '늑대개' 위험천만..미 2살배기 한쪽 팔 잃어", '[단독]"육아스트레스로.." 2개월 아이 던져 숨지게 한 20대 아빠', '미스코리아 장윤정 "3년 전 이혼 후 정신없이 살았다" (\'같이 삽시다\') [엑\'s 리뷰]', '추신수 떠난 텍사스, 김하성 영입 후보 "강정호보다 낫다"', "[단독] 박휘순♥17세 연하 예비신부, '아내의맛' 합류..결혼식 공개할까", '[단독] 75년된 구식 무기로 예비군 훈련.. 장비 노후화 심각', '정년퇴직 3년 앞두고 낡은 시골학교를 벽화로 채운 미술 선생님', '사이클링히트 노리던 시거, 5회에 교체한 로버츠 감독 왜?', '해뜨락요양병원 확진자 1명 숨져..병원종사자 접촉 103명', '고 콜레스테롤에 의한 대장암 전이 과정 밝혀졌다', "소금으로 '생태계 파괴자' 칡덩굴 없앤다..고사율 70.2%"]
50
뉴스이름--------------
['중앙일보', '연합뉴스', '연합뉴스', '연합뉴스', '연합뉴스', '연합뉴스', '뉴시스', '뉴스1', '뉴스1', '뉴스1', '서울신문', '한국일보', 'OSEN', '뉴스타파', '뉴스1', '뉴스엔', '국민일보', '뉴스1', '엔터미디어', '연합뉴스', '연합뉴스', '뉴스1', '데일리안', 'YTN', '헤럴드경제', '뉴스1', '연합뉴스', '뉴스엔', '연합뉴스', '뉴스엔', '중앙일보', '뉴스1', '한국일보', '뉴스1', 'MK스포츠', '한국경제', '뉴시스', '연합뉴스', '연합뉴스', '연합뉴스', '노컷뉴스', '엑스포츠뉴스', 'OSEN', '스포츠동아', '세계일보', '연합뉴스', 'OSEN', '뉴스1', '뉴스1', '연합뉴스']
50

In [ ]:
import requests
from bs4 import BeautifulSoup
import re
n = 1
while True:
    req = requests.get('https://movie.daum.net/moviedb/grade?movieId=131704&type=netizen&page='+str(n))
    html = req.text
    soup = BeautifulSoup(html, 'html5lib')
    points = soup.select('div.raking_grade > em')
    reviews = soup.select('div.main_detail > ul > li > div > p')
    if len(points) == 0 :
        break

    movie_point = []
    movie_review = [] 

    for dom in points:
        movie_point.append(dom.text)

    for dom in reviews:
        content=dom.text.strip()
        content=re.sub("[\n\t]", ' ', content)
        movie_review.append(content)

        
    commentLength = len(movie_point)   
    for i in range(commentLength):
        print(movie_point[i] + ","+movie_review[i]) 
    n += 1

In [6]:
# 함수버전

import urllib.request
import json
from bs4 import BeautifulSoup 

def naver_search (keyword, callType = 'JSON') :
    client_key = 'izGsqP2exeThwwEUVU3x'
    client_secret = 'WrwbQ1l6ZI'
    query = keyword

    encText = urllib.parse.quote_plus(query)
    num = 5
    if callType == 'JSON' :
        urlhead = 'https://openapi.naver.com/v1/search/local.json?query='
    elif callType == 'XML' :
        urlhead = 'https://openapi.naver.com/v1/search/local.xml?query='
    else :
        print('JSON or XML only')
        return   

    naver_url = urlhead + encText + '&display=' + str(num)
    request = urllib.request.Request(naver_url)
    request.add_header("X-Naver-Client-Id",client_key)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode() 

    if(rescode == 200):
        response_body = response.read()
        count = 1     
        if callType == 'JSON' :
            dataList = json.loads(response_body)
            print('[' + query + '집에 대한 네이버 지역 정보(JSON)]')
            for data in dataList['items'] :
                print (str(count) + ' : ' + data['title'] + ',' + data['telephone'] + ',' + data['address'])
                count += 1

        elif callType == 'XML' :
            xmlsoup = BeautifulSoup(response_body, 'xml')
            items = xmlsoup.find_all('item')
            print('[' + query + '집에 대한 네이버 지역 정보(XML)]')
            for data in items:
                print (str(count) + ' : ' + data.title.string + ',' +
                       ('없음' if data.telephone.string == None else data.telephone.string) + 
                       ',' + data.address.string)
                count += 1
    else:
        print('오류 코드 : ' + rescode)

In [9]:
naver_search('짜장면', 'XML')

[짜장면집에 대한 네이버 지역 정보(XML)]
1 : 란주라미엔,없음,서울특별시 중구 충무로1가 25-14
2 : 개화,없음,서울특별시 중구 명동2가 107-1
3 : 원흥,없음,서울특별시 중구 다동 92
4 : 일품향,없음,서울특별시 중구 명동2가 105
5 : 더 플라자 도원,없음,서울특별시 중구 태평로2가 23

In [8]:
naver_search('쌀국수', 'JSON')

[쌀국수집에 대한 네이버 지역 정보(JSON)]
1 : 호아빈 서울시청점,,서울특별시 중구 서소문동 14-2
2 : 포리엔,,서울특별시 중구 소공동 85-2
3 : 72420,,서울특별시 동작구 사당동 1039-16
4 : 레호이 소월길 본점,,서울특별시 용산구 이태원동 261-9
5 : 에머이 종로1호점(본점),,서울특별시 종로구 관철동 16-9

In [2]:
# XML버전
import urllib.request
from bs4 import BeautifulSoup 

client_key = 'izGsqP2exeThwwEUVU3x'
client_secret = 'WrwbQ1l6ZI'
query = '쌀국수'
encText = urllib.parse.quote_plus(query)
num = 5
naver_url = 'https://openapi.naver.com/v1/search/local.xml?query=' + encText + '&display=' + str(num)
request = urllib.request.Request(naver_url)
request.add_header("X-Naver-Client-Id",client_key)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()

if(rescode == 200):
    response_body = response.read()
    xmlsoup = BeautifulSoup(response_body, 'xml')
    items = xmlsoup.find_all('item')
    count = 1
    print('[' + query + '집에 대한 네이버 지역 정보(XML)]')
    for data in items:
        print (str(count) + ' : ' + data.title.string + ',' + ('없음' if data.telephone.string == None else data.telephone.string) + ',' + data.address.string)
        count += 1
else:
    print('오류 코드 : ' + rescode)

[쌀국수집에 대한 네이버 지역 정보(XML)]
1 : 호아빈 서울시청점,없음,서울특별시 중구 서소문동 14-2
2 : 포리엔,없음,서울특별시 중구 소공동 85-2
3 : 72420,없음,서울특별시 동작구 사당동 1039-16
4 : 레호이 소월길 본점,없음,서울특별시 용산구 이태원동 261-9
5 : 에머이 종로1호점(본점),없음,서울특별시 종로구 관철동 16-9

In [1]:
# JSON 버전
import urllib.request
import json
client_key = 'izGsqP2exeThwwEUVU3x'
client_secret = 'WrwbQ1l6ZI'
query = '쌀국수'
encText = urllib.parse.quote_plus(query)
num = 5
naver_url = 'https://openapi.naver.com/v1/search/local.json?query=' + encText + '&display=' + str(num)
request = urllib.request.Request(naver_url)
request.add_header("X-Naver-Client-Id",client_key)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()

if(rescode == 200):
    response_body = response.read()
    dataList = json.loads(response_body)
    count = 1
    print('[' + query + '집에 대한 네이버 지역 정보(JSON)]')
    for data in dataList['items'] :
        print (str(count) + ' : ' + data['title'] + ',' + data['telephone'] + ',' + data['address'])
        count += 1
else:
    print('오류 코드 : ' + rescode)

[쌀국수집에 대한 네이버 지역 정보(JSON)]
1 : 호아빈 서울시청점,,서울특별시 중구 서소문동 14-2
2 : 포리엔,,서울특별시 중구 소공동 85-2
3 : 72420,,서울특별시 동작구 사당동 1039-16
4 : 레호이 소월길 본점,,서울특별시 용산구 이태원동 261-9
5 : 에머이 종로1호점(본점),,서울특별시 종로구 관철동 16-9

In [ ]:
import pandas as pd

In [ ]:
#list를 사용하여 Series 만들기
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(type(series)) 
print(series)

In [ ]:
#직접 index 를 부여해보기 
data2 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
series2 = pd.Series(data2)
print(type(series)) 
print(series2)

In [ ]:
#직접 index 를 부여해보기 
data2 = {'학생1':'둘리', '학생2':'또치', '학생3':'도우너', '학생4':'희동이', '학생5':'마이콜'}
series2 = pd.Series(data2)
print(type(series)) 
print(series2)

In [ ]:
#직접 index 를 부여해보기 
data2 = ['둘리', '또치', '도우너', '희동이', '마이콜']
series2 = pd.Series(data2, index=['학생1','학생2','학생3','학생4','학생5'])
print(type(series)) 
print(series2)

In [ ]:
blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)
print("[시리즈 sr 출력]")
print(sr)
print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]")
print(sr[0])
print(sr[-1])
print(sr[1])
print(sr[1:4])
print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]")
print(sr['A형'])
print(sr['AB형'])
print(sr['B형'])
print(sr['B형':'AB형'])
print("[시리즈 sr의 크기 출력 ]")
print(len(sr))
print("[시리즈 sr의 인덱스 출력 ]")
print(sr.index)
print("[시리즈 sr의 데이터 값 출력 ]")
print(sr.values)

In [ ]:
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
print("타입 : ", type(df))
print(df)

In [ ]:
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data, index=['학생1','학생2','학생3','학생4'])
print("타입 : ", type(df))
print(df)

In [ ]:
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data, index=['학생1','학생2','학생3','학생4'])
df.index = ['st1', 'st2', 'st3', 'st4']
df.columns = ['dooly', 'doochi', 'dounar', 'heedong']

print(df)

In [ ]:
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
 
df = pd.DataFrame(data)

print( df.head() ) #앞의 다섯명에 대한 데이터만 나온다. 
print( df.tail() )
print( df.columns)
print( df['name'])
print( df.eng) 
print( df[['kor', 'mat']]) 
#iloc 함수 : 배열에서의 위치값으로 데이터를 접근 할 수 있다. 
print("iloc 함수 사용 -----------")
print( df.iloc[3])
print( df.iloc[0,0]) #0,0번에 해당하는 데이터 출력하기 
print( df.iloc[3,2]) #3번째 행의 2번째 열 
print( df.iloc[2:4,2])
print( df.iloc[2:4,2:4])

print("loc함수 사용 -------------")
#loc 함수는 필드명으로 데이터를 출력할 수 있다 .
print( df.loc[3])
print( df.loc[0, 'name']) #0번째 행의 name필드 값 출력 
print( df.loc[3, 'eng']) #0번째 행의 name필드 값 출력 
print( df.loc[2:3, 'eng'])
print( df.loc[2:3, 'eng':'mat'])

In [ ]:
print(df)

In [ ]:
df.set_index('name', inplace=True)
print(df)

In [ ]:
#1번
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
df['class'] = ['1반', '2반', '1반', '2반']
print(df)

In [ ]:
df.loc[4] = ['마이콜', 80,80,80,'1반']
print(df)

In [ ]:
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
df['class'] = ['1반', '2반', '1반', '2반']
df.loc[4] = ['마이콜', 80,80,80,'1반']
df.set_index('name', inplace=True)
df.columns = ['국어', '영어', '수학', '반번호']
print(df)

In [ ]:
df.loc['마이콜', ['국어', '영어', '수학']] = 100
#df.loc['마이콜'] = 100
df.loc['희동이', '영어'] = 90
print(df)

In [ ]:
df.reset_index(inplace=True)
print(df)
df.rename(columns={'name':'성명'}, inplace=True )
print(df)

In [ ]:
df1 = df.sort_values(by='국어', ascending=False)
print(df1)
df2 = df.sort_values(by='영어')
print(df2)

In [ ]:
df['총점'] = df['국어']+df['수학']+df['영어']
df.sort_values(by='총점', ascending=False, inplace=True)
print(df)

In [ ]:
df3 = df.drop('반번호', axis=1)
print(df3)
print(df)

In [ ]:
df4 = df.drop(4)
print(df4)
print(df)

In [ ]:
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}

series1 = pd.Series( data1 )
series2 = pd.Series( data2 )
series3 = pd.Series( data3 )
result = series1 + series2 + series3

print(result)

In [ ]:
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}

series1 = pd.Series( data1 )
series2 = pd.Series( data2 )
series3 = pd.Series( data3 )
result = series1.add(series2, fill_value=0) 
result = result.add(series3, fill_value=0) 
#result =        + series3

print(result)

In [ ]:
# 11번
import pandas as pd
 
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
}
 
df = pd.DataFrame(data, index=['Y1','Y2','Y3', 'Y4', 'Y5'])
print(df)
df.loc['Y6']=[10, 20, 30, 40]
print(df)
df = df + 10
print(df)
df['total'] = df.X1 +  df.X2 + df.X3 + df.X4
print(df)
print(df.T)

In [ ]:
data = pd.read_csv("./data/score.csv")

print("컬럼명 : ", data.columns)
print("인덱스 : ", data.index)

#총점, 평균 구하기 
data['total'] = data['kor'] + data['eng']+data['mat']
data['avg'] = round(data['total']/3,2)

display( data )

In [ ]:
data = pd.read_csv("./data/score_noheader.csv", header=None)
display(data)

print("컬럼명 : ", data.columns)
print("인덱스 : ", data.index)

print("컬럼명 추가 ----------")
data.columns = ['name', 'kor', 'eng', 'mat']
print("컬럼명 : ", data.columns)
display(data)

print("total과 avg열 추가 -------")
#총점, 평균 구하기 
data['total'] = data['kor'] + data['eng']+data['mat']
data['avg'] = round(data['total']/3,2)

display(data)

In [ ]:
data = pd.read_csv("./data/score_header.csv", header=3)
display(data)

print("컬럼명 : ", data.columns)
print("인덱스 : ", data.index)

#총점, 평균 구하기 
data['total'] = data['kor'] + data['eng']+data['mat']
data['avg'] = round(data['total']/3,2)

data.to_csv("c:/Temp/score_result.csv",  header=False, mode='a', index=False)
display( data )

In [ ]:
data = pd.read_excel("./data/score.xlsx")
display(data)
data['total'] = data['kor'] + data['eng']+data['mat']
data['avg'] = round(data['total']/3,2)
data.sort_values(by='avg', ascending=False, inplace=True)
display(data)
data.to_excel("c:/Temp/score_result1.xlsx")
data.to_excel("c:/Temp/score_result2.xlsx", index=False)

In [ ]:
data = pd.read_json("data/mydata.json")
print("기본정보 보기") 
print(data.info())
print("앞에서 부터 5개만 미리 보기") 
display( data.head() )

print("뒤에서 부터 5개만 미리 보기") 
display( data.tail() )

print("앞에서 부터 10개만 미리 보기") 
display( data.head(10))
#데이터프레임의 차원 행, 열의 개수 확인 가능 
print( data.shape )

row, col = data.shape  
#tuple타입임, 행과 열에 대한 정보를 모두 가지고 있음
print("행의 개수 : ", row, ", 열의 개수 : ", col, sep = "")
data.to_csv("c:/Temp/mydata.csv", index=False)

In [ ]:
pd.set_option('display.max_columns', 100)
data = pd.read_csv("./data/mpgdata.csv")

print("앞에서 부터 3개만 미리 보기") 
display( data.head(3))
#데이터프레임의 차원 행, 열의 개수 확인 가능 
print( data.shape )

row, col = data.shape  
#tuple타입임, 행과 열에 대한 정보를 모두 가지고 있음
print("행의 개수 ", row)
print("열의 개수 ", col)
print("기술통계 정보 요약") 
display(data.describe())

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

title = []
media = []
urlstr = 'http://media.daum.net/ranking/popular/'
r = requests.get(urlstr)
r.encoding = "utf-8"
bs = BeautifulSoup(r.text, 'html.parser')
titleList = bs.select('ul.list_news2 > li > div.cont_thumb > strong > a')
mediaList = bs.select('ul.list_news2 > li > div.cont_thumb > strong > span')

for titleDom in titleList:
	title.append(titleDom.string)
for mediaDom in mediaList:
	media.append(mediaDom.string)

# with open('C:/Temp/news.csv', "wt", encoding="utf-8") as f:
#    f.write('newstitle,newscomname \n')  
#    for i in range(len(title)):
#        f.write("\"" + title[i] + "\", \"" + media[i] + "\"" + "\n")  
#        print("\"" + title[i] + "\", \"" + media[i] + "\"" + "\n")

df = pd.DataFrame({'newstitle':title, 'newscomname':media})
print(df)
display(df)
df.to_csv("C:/Temp/news2.csv", index=False)

                                            newstitle newscomname
0    김진숙, 문 대통령에 편지 "옛 동지가 묻는다..언제까지 약자가 약자를 응원해야 하나"        경향신문
1              [단독]"머리 감기는데 가슴을.." 요양보호사 42%가 성희롱 당했다       머니투데이
2              이인영, 노벨평화상 수상 WFP에 "선정 축하..北 사업 적극 지원"         뉴스1
3                       '사상초유' 검찰총장까지 수사 받나..이성윤에 달렸다         뉴시스
4              [단독]로젠택배 40대 기사, '갑질' 호소 유서 남기고 극단적 선택         뉴스1
5              100kg 넘는 아들 목 졸라 살해한 76세 노모에 징역 20년 구형        연합뉴스
6                 뭘 먹었길래..중국 14살짜리 중학생 키가 무려 '2m21cm'        연합뉴스
7            '국민의짐' 표현 "사과하라"..이재명 "국민의짐 진짜 안 되길 바란다"         뉴시스
8                   "추미애, 정치적 목적의 윤석열 망신주기"..법조계 한목소리         뉴스1
9               "외국인 건보혜택 중국인이 71% 차지..5년반 동안 2조4천억원"        연합뉴스
10    [단독] "불투명 비말 칸막이 때문에 칠판이 안 보여요".. 초등학교 '깜깜이 수업'        서울신문
11            고창서 독감백신 맞은 70대 이튿날 사망.."인과관계 확인 중"(종합)        연합뉴스
12                  방금전 방송에서 나온 제품이 바로 홈쇼핑에..우연이 아니었다       머니투데이
13         "절도 이력 때문에 해사 불합격"..법원, 신원조회 위법 "불합격 취소하라"        중앙일보
14                      코로나에 다 망했다는데..'빵집'만 살아남은 이유는?       헤럴드경제
15                  소형 전기밥솥, 보온 기능에 차이..밥 딱딱하게 굳는 제품도         뉴스1
16                "어려운 이웃에게 써달라" 대전 도마2동에 100만원 익명 기부        연합뉴스
17          1억 마세라티·5천 벤츠 몰며 서울 공공임대주택 거주 어떻게 가능?(종합)         뉴시스
18            21세 男 1명 1년간 3062회 병원 이용 최다..건보 3천만원 소요         뉴시스
19                 국민의힘 "조국 딸 입학 취소 왜 안 하나" 부산대 국감 공세        연합뉴스
20                 30대 남성의 수상한 기록, 2년여간 식욕억제제 2만정 타갔다       머니투데이
21               손흥민 토트넘 잔류시 최고 주급 유력..EPL 톱5 진입 가능성도      스포티비뉴스
22                                '콩다방' 커피빈마저 매물로 나왔다       머니투데이
23     '10조 빅딜' 이끈 최태원 SK회장의 승부수.. 현상유지만 하는 다른 그룹과 대조        조선비즈
24                    전문직 소득 중 의사가 압도적 1위..변호사와 2배 격차        서울신문
25                    [단독] 고창서 70대 여성 독감 백신 접종 후 또 사망         더팩트
26             '불청' 김홍표 "교통사고로 4번 대수술, 일용직 조경에 대리운전도"         뉴스엔
27                  환자 저항에 검사하던 보건소 직원 옷 찢어져 '확진'(종합)         뉴시스
28                   [단독] 참모들 부른 尹 "라임 비호세력 처단" 직접 썼다        국민일보
29              秋가 때리면 커지는 윤석열 존재감..'가족 수사' 이번엔 다를 수도         뉴스1
30      '노는 언니' 박세리 "잘생긴 남자만 만났다" 10년지기 골프 후배들 폭로에 한탄         뉴스엔
31                           토트넘 '날벼락'..레알 레길론 재영입 고려      스포티비뉴스
32               [예천 육상] "누구야?!" 슈퍼유망주 '초미네이터' 등장에 흥분        에스티엔
33                   '정경심 안대 퍼포먼스' 5명, 검찰송치..모욕 혐의 적용         뉴시스
34              "밥 굶는 아이 없도록"..전주 '엄마의 밥상'에 6년간 8억 쇄도        연합뉴스
35                            전국노래자랑 현장에서 포착한 대한민국 초상        연합뉴스
36                      "강원랜드 20초만에 털려..열쇠 분실 6년간 몰라"        서울신문
37           [현장연결] 질병청 "코로나 발생 안정세..이제 1단계 성적표 나올 것"      연합뉴스TV
38            손흥민, "영어 못하는 느낌 아니까".. '신입' 비니시우스 돕는 이유      스포탈코리아
39               '러시아 미녀' 라자레바, 차원이 다른 대박 외인..한국 왜 왔니        OSEN
40              음주운전 사고부담금 최대 1억6500만원..전동킥보드도 차보험 보상       아시아경제
41             '감사원 발표에 한숨' 월성원전 주민들 "경제성 없다는 이유 밝혀라"         뉴스1
42  [단독] '밥심' 박해미 "전남편 음주사건 심경 고백 후련, 子 황성재 고마워 눈물...      엑스포츠뉴스
43                         "야당답지 못하다"..野원로들, 김종인에 쓴소리       헤럴드경제
44                         무리한 탈원전 정책에 무너진 韓 '원전 생태계'        조선비즈
45      이혜리 "'응팔' 5년만 박보검과 재회, 간식까지 챙겨줘 든든+감사"[직격인터뷰]         뉴스엔
46                "확진자 쏟아지는 부산 북구에 차마"..순천시,구상권 청구 보류         뉴스1
47                    편의점 털려던 강도, 가게 갇혀 검거..종업원이 문 막아        동아일보
48                 27m길이 명나라 그림 850억원에 낙찰..중국 고서화 최고가        연합뉴스
49                  양주지역 정치인들, 투병생활 '이성호 시장' 자진 퇴진 촉구         뉴시스

                                            newstitle newscomname
0    김진숙, 문 대통령에 편지 "옛 동지가 묻는다..언제까지 약자가 약자를 응원해야 하나"        경향신문
1              [단독]"머리 감기는데 가슴을.." 요양보호사 42%가 성희롱 당했다       머니투데이
2              이인영, 노벨평화상 수상 WFP에 "선정 축하..北 사업 적극 지원"         뉴스1
3                       '사상초유' 검찰총장까지 수사 받나..이성윤에 달렸다         뉴시스
4              [단독]로젠택배 40대 기사, '갑질' 호소 유서 남기고 극단적 선택         뉴스1
5              100kg 넘는 아들 목 졸라 살해한 76세 노모에 징역 20년 구형        연합뉴스
6                 뭘 먹었길래..중국 14살짜리 중학생 키가 무려 '2m21cm'        연합뉴스
7            '국민의짐' 표현 "사과하라"..이재명 "국민의짐 진짜 안 되길 바란다"         뉴시스
8                   "추미애, 정치적 목적의 윤석열 망신주기"..법조계 한목소리         뉴스1
9               "외국인 건보혜택 중국인이 71% 차지..5년반 동안 2조4천억원"        연합뉴스
10    [단독] "불투명 비말 칸막이 때문에 칠판이 안 보여요".. 초등학교 '깜깜이 수업'        서울신문
11            고창서 독감백신 맞은 70대 이튿날 사망.."인과관계 확인 중"(종합)        연합뉴스
12                  방금전 방송에서 나온 제품이 바로 홈쇼핑에..우연이 아니었다       머니투데이
13         "절도 이력 때문에 해사 불합격"..법원, 신원조회 위법 "불합격 취소하라"        중앙일보
14                      코로나에 다 망했다는데..'빵집'만 살아남은 이유는?       헤럴드경제
15                  소형 전기밥솥, 보온 기능에 차이..밥 딱딱하게 굳는 제품도         뉴스1
16                "어려운 이웃에게 써달라" 대전 도마2동에 100만원 익명 기부        연합뉴스
17          1억 마세라티·5천 벤츠 몰며 서울 공공임대주택 거주 어떻게 가능?(종합)         뉴시스
18            21세 男 1명 1년간 3062회 병원 이용 최다..건보 3천만원 소요         뉴시스
19                 국민의힘 "조국 딸 입학 취소 왜 안 하나" 부산대 국감 공세        연합뉴스
20                 30대 남성의 수상한 기록, 2년여간 식욕억제제 2만정 타갔다       머니투데이
21               손흥민 토트넘 잔류시 최고 주급 유력..EPL 톱5 진입 가능성도      스포티비뉴스
22                                '콩다방' 커피빈마저 매물로 나왔다       머니투데이
23     '10조 빅딜' 이끈 최태원 SK회장의 승부수.. 현상유지만 하는 다른 그룹과 대조        조선비즈
24                    전문직 소득 중 의사가 압도적 1위..변호사와 2배 격차        서울신문
25                    [단독] 고창서 70대 여성 독감 백신 접종 후 또 사망         더팩트
26             '불청' 김홍표 "교통사고로 4번 대수술, 일용직 조경에 대리운전도"         뉴스엔
27                  환자 저항에 검사하던 보건소 직원 옷 찢어져 '확진'(종합)         뉴시스
28                   [단독] 참모들 부른 尹 "라임 비호세력 처단" 직접 썼다        국민일보
29              秋가 때리면 커지는 윤석열 존재감..'가족 수사' 이번엔 다를 수도         뉴스1
30      '노는 언니' 박세리 "잘생긴 남자만 만났다" 10년지기 골프 후배들 폭로에 한탄         뉴스엔
31                           토트넘 '날벼락'..레알 레길론 재영입 고려      스포티비뉴스
32               [예천 육상] "누구야?!" 슈퍼유망주 '초미네이터' 등장에 흥분        에스티엔
33                   '정경심 안대 퍼포먼스' 5명, 검찰송치..모욕 혐의 적용         뉴시스
34              "밥 굶는 아이 없도록"..전주 '엄마의 밥상'에 6년간 8억 쇄도        연합뉴스
35                            전국노래자랑 현장에서 포착한 대한민국 초상        연합뉴스
36                      "강원랜드 20초만에 털려..열쇠 분실 6년간 몰라"        서울신문
37           [현장연결] 질병청 "코로나 발생 안정세..이제 1단계 성적표 나올 것"      연합뉴스TV
38            손흥민, "영어 못하는 느낌 아니까".. '신입' 비니시우스 돕는 이유      스포탈코리아
39               '러시아 미녀' 라자레바, 차원이 다른 대박 외인..한국 왜 왔니        OSEN
40              음주운전 사고부담금 최대 1억6500만원..전동킥보드도 차보험 보상       아시아경제
41             '감사원 발표에 한숨' 월성원전 주민들 "경제성 없다는 이유 밝혀라"         뉴스1
42  [단독] '밥심' 박해미 "전남편 음주사건 심경 고백 후련, 子 황성재 고마워 눈물...      엑스포츠뉴스
43                         "야당답지 못하다"..野원로들, 김종인에 쓴소리       헤럴드경제
44                         무리한 탈원전 정책에 무너진 韓 '원전 생태계'        조선비즈
45      이혜리 "'응팔' 5년만 박보검과 재회, 간식까지 챙겨줘 든든+감사"[직격인터뷰]         뉴스엔
46                "확진자 쏟아지는 부산 북구에 차마"..순천시,구상권 청구 보류         뉴스1
47                    편의점 털려던 강도, 가게 갇혀 검거..종업원이 문 막아        동아일보
48                 27m길이 명나라 그림 850억원에 낙찰..중국 고서화 최고가        연합뉴스
49                  양주지역 정치인들, 투병생활 '이성호 시장' 자진 퇴진 촉구         뉴시스

In [1]:
from selenium import webdriver
import time
import re
import pandas as pd

driver = webdriver.Chrome('C:/Temp/chromedriver')
driver.get("http://gs25.gsretail.com/gscvs/ko/products/event-goods")
time.sleep(2)

# 2+1행사 탭으로 이동
twoPlusOnetab = driver.find_element_by_css_selector('#TWO_TO_ONE')
twoPlusOnetab.click()
time.sleep(1)

titleList_all = []
priceList_all = []
page = 0

while True :
    page += 1
    
    titleList = driver.find_elements_by_css_selector('div.cnt_section.mt50 div > p.tit')
    priceList = driver.find_elements_by_css_selector('div.cnt_section.mt50 div > p.price > span')

    productCount = 0
    for oneTitle in titleList :
        if len(oneTitle.text.strip()) > 0 :
            titleList_all.append(oneTitle.text.strip())
            productCount += 1
            # print(oneTitle.text.strip())
    print(str(page) + " page 상품명 누적 " + str(len(titleList_all)) + "개 적재")

    for onePrice in priceList :
        if len(onePrice.text.strip()) > 0 :
            content = re.sub('[^0-9]', '', onePrice.text.strip())
            priceList_all.append(content)
            # print(content)
    print(str(page) + " page 가격 누적 " + str(len(priceList_all)) + "개 적재")

    # 마지막 페이지이면 정지
    if productCount < 8 : break  
    
    # 다음페이지로 이동 - 잘 안되서 스크립트로
    driver.execute_script("goodsPageController.moveControl(1)")
    time.sleep(1)

#with open('C:/Temp/gs25_twotoone.csv', "wt", encoding="utf-8") as f:
#    f.write('goodsname,goodsprice \n')  
#    for i in range(len(titleList_all)):
#        f.write(titleList_all[i] + ","+ priceList_all[i] + '\n') 
        
df = pd.DataFrame({'goodsname':titleList_all, 'goodsprice':priceList_all})
print(df)
display(df)
df.to_csv("C:/Temp/gs25_twotoone2.csv", index=False)

1 page 상품명 누적 8개 적재
1 page 가격 누적 8개 적재
2 page 상품명 누적 16개 적재
2 page 가격 누적 16개 적재
3 page 상품명 누적 24개 적재
3 page 가격 누적 24개 적재
4 page 상품명 누적 32개 적재
4 page 가격 누적 32개 적재
5 page 상품명 누적 40개 적재
5 page 가격 누적 40개 적재
6 page 상품명 누적 48개 적재
6 page 가격 누적 48개 적재
7 page 상품명 누적 56개 적재
7 page 가격 누적 56개 적재
8 page 상품명 누적 64개 적재
8 page 가격 누적 64개 적재
9 page 상품명 누적 72개 적재
9 page 가격 누적 72개 적재
10 page 상품명 누적 80개 적재
10 page 가격 누적 80개 적재
11 page 상품명 누적 88개 적재
11 page 가격 누적 88개 적재
12 page 상품명 누적 96개 적재
12 page 가격 누적 96개 적재
13 page 상품명 누적 104개 적재
13 page 가격 누적 104개 적재
14 page 상품명 누적 112개 적재
14 page 가격 누적 112개 적재
15 page 상품명 누적 120개 적재
15 page 가격 누적 120개 적재
16 page 상품명 누적 128개 적재
16 page 가격 누적 128개 적재
17 page 상품명 누적 136개 적재
17 page 가격 누적 136개 적재
18 page 상품명 누적 144개 적재
18 page 가격 누적 144개 적재
19 page 상품명 누적 152개 적재
19 page 가격 누적 152개 적재
20 page 상품명 누적 160개 적재
20 page 가격 누적 160개 적재
21 page 상품명 누적 168개 적재
21 page 가격 누적 168개 적재
22 page 상품명 누적 176개 적재
22 page 가격 누적 176개 적재
23 page 상품명 누적 184개 적재
23 page 가격 누적 184개 적재
24 page 상품명 누적 192개 적재
24 page 가격 누적 192개 적재
25 page 상품명 누적 200개 적재
25 page 가격 누적 200개 적재
26 page 상품명 누적 208개 적재
26 page 가격 누적 208개 적재
27 page 상품명 누적 216개 적재
27 page 가격 누적 216개 적재
28 page 상품명 누적 224개 적재
28 page 가격 누적 224개 적재
29 page 상품명 누적 232개 적재
29 page 가격 누적 232개 적재
30 page 상품명 누적 240개 적재
30 page 가격 누적 240개 적재
31 page 상품명 누적 248개 적재
31 page 가격 누적 248개 적재
32 page 상품명 누적 256개 적재
32 page 가격 누적 256개 적재
33 page 상품명 누적 264개 적재
33 page 가격 누적 264개 적재
34 page 상품명 누적 272개 적재
34 page 가격 누적 272개 적재
35 page 상품명 누적 280개 적재
35 page 가격 누적 280개 적재
36 page 상품명 누적 288개 적재
36 page 가격 누적 288개 적재
37 page 상품명 누적 296개 적재
37 page 가격 누적 296개 적재
38 page 상품명 누적 304개 적재
38 page 가격 누적 304개 적재
39 page 상품명 누적 312개 적재
39 page 가격 누적 312개 적재
40 page 상품명 누적 320개 적재
40 page 가격 누적 320개 적재
41 page 상품명 누적 328개 적재
41 page 가격 누적 328개 적재
42 page 상품명 누적 336개 적재
42 page 가격 누적 336개 적재
43 page 상품명 누적 344개 적재
43 page 가격 누적 344개 적재
44 page 상품명 누적 352개 적재
44 page 가격 누적 352개 적재
45 page 상품명 누적 360개 적재
45 page 가격 누적 360개 적재
46 page 상품명 누적 368개 적재
46 page 가격 누적 368개 적재
47 page 상품명 누적 376개 적재
47 page 가격 누적 376개 적재
48 page 상품명 누적 384개 적재
48 page 가격 누적 384개 적재
49 page 상품명 누적 392개 적재
49 page 가격 누적 392개 적재
50 page 상품명 누적 400개 적재
50 page 가격 누적 400개 적재
51 page 상품명 누적 408개 적재
51 page 가격 누적 408개 적재
52 page 상품명 누적 416개 적재
52 page 가격 누적 416개 적재
53 page 상품명 누적 424개 적재
53 page 가격 누적 424개 적재
54 page 상품명 누적 432개 적재
54 page 가격 누적 432개 적재
55 page 상품명 누적 440개 적재
55 page 가격 누적 440개 적재
56 page 상품명 누적 448개 적재
56 page 가격 누적 448개 적재
57 page 상품명 누적 456개 적재
57 page 가격 누적 456개 적재
58 page 상품명 누적 464개 적재
58 page 가격 누적 464개 적재
59 page 상품명 누적 472개 적재
59 page 가격 누적 472개 적재
60 page 상품명 누적 480개 적재
60 page 가격 누적 480개 적재
61 page 상품명 누적 488개 적재
61 page 가격 누적 488개 적재
62 page 상품명 누적 496개 적재
62 page 가격 누적 496개 적재
63 page 상품명 누적 504개 적재
63 page 가격 누적 504개 적재
64 page 상품명 누적 512개 적재
64 page 가격 누적 512개 적재
65 page 상품명 누적 520개 적재
65 page 가격 누적 520개 적재
66 page 상품명 누적 528개 적재
66 page 가격 누적 528개 적재
67 page 상품명 누적 536개 적재
67 page 가격 누적 536개 적재
68 page 상품명 누적 544개 적재
68 page 가격 누적 544개 적재
69 page 상품명 누적 552개 적재
69 page 가격 누적 552개 적재
70 page 상품명 누적 560개 적재
70 page 가격 누적 560개 적재
71 page 상품명 누적 568개 적재
71 page 가격 누적 568개 적재
72 page 상품명 누적 576개 적재
72 page 가격 누적 576개 적재
73 page 상품명 누적 584개 적재
73 page 가격 누적 584개 적재
74 page 상품명 누적 592개 적재
74 page 가격 누적 592개 적재
75 page 상품명 누적 600개 적재
75 page 가격 누적 600개 적재
76 page 상품명 누적 608개 적재
76 page 가격 누적 608개 적재
77 page 상품명 누적 616개 적재
77 page 가격 누적 616개 적재
78 page 상품명 누적 624개 적재
78 page 가격 누적 624개 적재
79 page 상품명 누적 632개 적재
79 page 가격 누적 632개 적재
80 page 상품명 누적 640개 적재
80 page 가격 누적 640개 적재
81 page 상품명 누적 648개 적재
81 page 가격 누적 648개 적재
82 page 상품명 누적 656개 적재
82 page 가격 누적 656개 적재
83 page 상품명 누적 664개 적재
83 page 가격 누적 664개 적재
84 page 상품명 누적 672개 적재
84 page 가격 누적 672개 적재
85 page 상품명 누적 680개 적재
85 page 가격 누적 680개 적재
86 page 상품명 누적 688개 적재
86 page 가격 누적 688개 적재
87 page 상품명 누적 696개 적재
87 page 가격 누적 696개 적재
88 page 상품명 누적 704개 적재
88 page 가격 누적 704개 적재
89 page 상품명 누적 712개 적재
89 page 가격 누적 712개 적재
90 page 상품명 누적 720개 적재
90 page 가격 누적 720개 적재
91 page 상품명 누적 728개 적재
91 page 가격 누적 728개 적재
92 page 상품명 누적 736개 적재
92 page 가격 누적 736개 적재
93 page 상품명 누적 739개 적재
93 page 가격 누적 739개 적재
               goodsname goodsprice
0       롯데)아이시스8.0(2.0L)       1700
1    유어스(P)할리스리스트레또300ML       2500
2     유어스(P)할리스콜드브루300ML       2500
3        OKF)알로에베라킹500ML       1900
4      팜트리)궁중발효홍삼세트(10입)      22000
..                   ...        ...
734     CJ)맥스봉청양고추후랑크80G       2000
735        CJ)직화구이꼬치바90G       2000
736        CJ)스팸구이꼬치바80G       2500
737   유어스(P)2가지치즈소시지100G       1700
738   유어스(P)정통프랑크소시지100G       1700

[739 rows x 2 columns]

               goodsname goodsprice
0       롯데)아이시스8.0(2.0L)       1700
1    유어스(P)할리스리스트레또300ML       2500
2     유어스(P)할리스콜드브루300ML       2500
3        OKF)알로에베라킹500ML       1900
4      팜트리)궁중발효홍삼세트(10입)      22000
..                   ...        ...
734     CJ)맥스봉청양고추후랑크80G       2000
735        CJ)직화구이꼬치바90G       2000
736        CJ)스팸구이꼬치바80G       2500
737   유어스(P)2가지치즈소시지100G       1700
738   유어스(P)정통프랑크소시지100G       1700

[739 rows x 2 columns]