In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터프레임으로 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 처음 다섯 개의 행을 출력합니다.
dataframe.head(5)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터프레임을 만듭니다.
dataframe = pd.DataFrame()

# 열을 추가합니다.
dataframe['Name'] = ['Jacky Jackson', 'Steven Stevenson']
dataframe['Age'] = [38, 25]
dataframe['Driver'] = [True, False]

# 데이터프레임을 확인합니다.
dataframe

In [ ]:
# 열을 만듭니다.
new_person = pd.Series(['Molly Mooney', 40, True], index=['Name','Age','Driver'])

# 열을 추가합니다.
dataframe.append(new_person, ignore_index=True)

In [ ]:
import numpy as np

data = [ ['Jacky Jackson', 38, True], ['Steven Stevenson', 25, False] ]

matrix = np.array(data)
pd.DataFrame(matrix, columns=['Name', 'Age', 'Driver'])

In [ ]:
pd.DataFrame(data, columns=['Name', 'Age', 'Driver'])

In [ ]:
data = {'Name': ['Jacky Jackson', 'Steven Stevenson'],
        'Age': [38, 25],
        'Driver': [True, False]}
pd.DataFrame(data)

In [ ]:
data = [ {'Name': 'Jacky Jackson', 'Age': 38, 'Driver': True},
         {'Name': 'Steven Stevenson', 'Age': 25, 'Driver': False} ]
pd.DataFrame(data, index=['row1', 'row2'])

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 두 개의 행을 확인합니다.
dataframe.head(2)

In [ ]:
# 차원을 확인합니다.
dataframe.shape

In [ ]:
# 통곗값을 확인합니다.
dataframe.describe()

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 첫 번째 행을 선택합니다.
dataframe.iloc[0]

In [ ]:
# 세 개의 행을 선택합니다.
dataframe.iloc[1:4]

In [ ]:
# 네 개의 행을 선택합니다.
dataframe.iloc[:4]

In [ ]:
# 인덱스를 설정합니다.
dataframe = dataframe.set_index(dataframe['Name'])

# 행을 확인합니다.
dataframe.loc['Allen, Miss Elisabeth Walton']

In [ ]:
# 'Allison, Miss Helen Loraine' 이전까지 Age 열과 Sex 열만 선택합니다.
dataframe.loc[:'Allison, Miss Helen Loraine', 'Age':'Sex']

In [ ]:
# dataframe[:2]와 동일합니다.
dataframe[:'Allison, Miss Helen Loraine']

In [ ]:
dataframe[['Age', 'Sex']].head(2)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# ‘sex’ 열이 ‘female’인 행 중 처음 두 개를 출력합니다.
dataframe[dataframe['Sex'] == 'female'].head(2)

In [ ]:
# 행을 필터링합니다.
dataframe[(dataframe['Sex'] == 'female') & (dataframe['Age'] >= 65)]

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 값을 치환하고 두 개의 행을 출력합니다.
dataframe['Sex'].replace("female", "Woman").head(2)

In [ ]:
# "female"과 "male을 "Woman"과 "Man"으로 치환합니다.
dataframe['Sex'].replace(["female", "male"], ["Woman", "Man"]).head(5)

In [ ]:
# 값을 치환하고 두 개의 행을 출력합니다.
dataframe.replace(1, "One").head(2)

In [ ]:
# 값을 치환하고 두 개의 행을 출력합니다.
dataframe.replace(r"1st", "First", regex=True).head(2)

In [ ]:
# female과 male을 person으로 바꿉니다.
dataframe.replace(["female", "male"], "person").head(3)

In [ ]:
# female을 1로 바꾸고 male을 0으로 바꿉니다.
dataframe.replace({"female": 1, "male": 0}).head(3)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 열 이름을 바꾸고 두 개의 행을 출력합니다.
dataframe.rename(columns={'PClass': 'Passenger Class'}).head(2)

In [ ]:
# 열 이름을 바꾸고 두 개의 행을 출력합니다.
dataframe.rename(columns={'PClass': 'Passenger Class', 'Sex': 'Gender'}).head(2)

In [ ]:
# 라이브러리를 임포트합니다.
import collections

# 딕셔너리를 만듭니다.
column_names = collections.defaultdict(str)

# 키를 만듭니다.
for name in dataframe.columns:
    column_names[name]

# 딕셔너리를 출력합니다.
column_names

In [ ]:
# 인덱스 0을 -1로 바꿉니다.
dataframe.rename(index={0:-1}).head(2)

In [ ]:
# 열 이름을 소문자로 바꿉니다.
dataframe.rename(str.lower, axis='columns').head(2)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 통곗값을 계산합니다.
print('최댓값:', dataframe['Age'].max())
print('최솟값:', dataframe['Age'].min())
print('평균:', dataframe['Age'].mean())
print('합:', dataframe['Age'].sum())
print('카운트:', dataframe['Age'].count())

In [ ]:
# 카운트를 출력합니다.
dataframe.count()

In [ ]:
# 수치형 열의 공분산을 계산합니다.
dataframe.cov()

In [ ]:
# 수치형 열의 상관계수를 계산합니다.
dataframe.corr()

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 고유한 값을 찾습니다.
dataframe['Sex'].unique()

In [ ]:
# 카운트를 출력합니다.
dataframe['Sex'].value_counts()

In [ ]:
# 카운트를 출력합니다.
dataframe['PClass'].value_counts()

In [ ]:
# 고유한 값의 개수를 출력합니다.
dataframe['PClass'].nunique()

In [ ]:
dataframe.nunique()

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

## 누락된 값을 선택하고 두 개의 행을 출력합니다.
dataframe[dataframe['Age'].isnull()].head(2)

In [ ]:
# NaN으로 값을 바꾸려고 합니다.
dataframe['Sex'] = dataframe['Sex'].replace('male', NaN)

In [ ]:
# 라이브러리를 임포트합니다.
import numpy as np

# NaN으로 값을 바꿉니다.
dataframe['Sex'] = dataframe['Sex'].replace('male', np.nan)

In [ ]:
# 데이터를 적재하고 누란된 값을 설정합니다.
dataframe = pd.read_csv(url, na_values=[np.nan, 'NONE', -999])

In [ ]:
dataframe = pd.read_csv(url, na_values=['female'], 
                        keep_default_na=False)
dataframe[12:14]

In [ ]:
dataframe = pd.read_csv(url, na_filter=False)
dataframe[12:14]

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 열을 삭제합니다.
dataframe.drop('Age', axis=1).head(2)

In [ ]:
# 열을 삭제합니다.
dataframe.drop(['Age', 'Sex'], axis=1).head(2)

In [ ]:
# PClass 열을 삭제합니다.
dataframe.drop(dataframe.columns[1], axis=1).head(2)

In [ ]:
dataframe.head(2)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 행을 삭제하고 처음 두 개의 행을 출력합니다.
dataframe[dataframe['Sex'] != 'male'].head(2)

In [ ]:
# 행을 삭제하고 처음 두 개의 행을 출력합니다.
dataframe[dataframe['Name'] != 'Allison, Miss Helen Loraine'].head(2)

In [ ]:
# 행을 삭제하고 처음 두 개의 행을 출력합니다.
dataframe[dataframe.index != 0].head(2)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 중복 행을 삭제하고 처음 두 개의 행을 출력합니다.
dataframe.drop_duplicates().head(2)

In [ ]:
# 행의 개수를 출력합니다.
print("원본 데이터프레임 행의 수:", len(dataframe))
print("중복 삭제 후 행의 수:", len(dataframe.drop_duplicates()))

In [ ]:
# 중복된 행을 삭제합니다.
dataframe.drop_duplicates(subset=['Sex'])

In [ ]:
# 중복된 행을 삭제합니다.
dataframe.drop_duplicates(subset=['Sex'], keep='last')

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# ‘Sex’ 열의 값으로 행을 그룹핑하고 평균을 계산합니다.
dataframe.groupby('Sex').mean()

In [ ]:
# 행을 그룹핑합니다.
dataframe.groupby('Sex')

In [ ]:
# 행을 그룹핑하고 카운팅합니다.
dataframe.groupby('Survived')['Name'].count()

In [ ]:
# 행을 그룹핑한 다음 평균을 계산합니다.
dataframe.groupby(['Sex','Survived'])['Age'].mean()

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd
import numpy as np

# 날짜 범위를 만듭니다.
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')

# 데이터프레임을 만듭니다.
dataframe = pd.DataFrame(index=time_index)

# 난수 값으로 열을 만듭니다.
dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

# 주 단위로 행을 그룹핑한 다음 합을 계산합니다.
dataframe.resample('W').sum()

In [ ]:
# 세개의 행을 출력합니다.
dataframe.head(3)

In [ ]:
# 2주 단위로 그룹핑하고 평균을 계산합니다.
dataframe.resample('2W').mean()

In [ ]:
# 한 달 간격으로 그룹핑하고 행을 카운트합니다.
dataframe.resample('M').count()

In [ ]:
# 월 간격으로 그룹핑하고 행을 카운트합니다.
dataframe.resample('M', label='left').count()

In [ ]:
dataframe.resample('MS').count()

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 처음 두 이름을 대문자로 바꾸어 출력합니다.
for name in dataframe['Name'][0:2]:
    print(name.upper())

In [ ]:
# 처음 두 이름을 대문자로 바꾸어 출력합니다.
[name.upper() for name in dataframe['Name'][0:2]]

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 함수를 만듭니다.
def uppercase(x):
    return x.upper()

# 함수를 적용하고 두 개의 행을 출력합니다.
dataframe['Name'].apply(uppercase)[0:2]

In [ ]:
# Survived 열의 1을 Live로, 0을 Dead로 바꿉니다.
dataframe['Survived'].map({1:'Live', 0:'Dead'})[:5]

In [ ]:
# 함수의 매개변수(age)를 apply 메서드를 호출할 때 전달할 수 있습니다.
dataframe['Age'].apply(lambda x, age: x < age, age=30)[:5]

In [ ]:
# 각 열에서 가장 큰 값을 뽑습니다.
dataframe.apply(lambda x: max(x))

In [ ]:
def truncate_string(x):
    if type(x) == str:
        return x[:20]
    return x

# 문자열의 길이를 최대 20자로 줄입니다.
dataframe.applymap(truncate_string)[:5]

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터 URL
url = 'https://tinyurl.com/titanic-csv'

# 데이터를 적재합니다.
dataframe = pd.read_csv(url)

# 행을 그룹핑한 다음 함수를 적용합니다.
dataframe.groupby('Sex').apply(lambda x: x.count())

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터프레임을 만듭니다.
data_a = {'id': ['1', '2', '3'],
          'first': ['Alex', 'Amy', 'Allen'],
          'last': ['Anderson', 'Ackerman', 'Ali']}
dataframe_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])

# 데이터프레임을 만듭니다.
data_b = {'id': ['4', '5', '6'],
          'first': ['Billy', 'Brian', 'Bran'],
          'last': ['Bonder', 'Black', 'Balwner']}
dataframe_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])

# 행 방향으로 데이터프레임을 연결합니다.
pd.concat([dataframe_a, dataframe_b], axis=0)

In [ ]:
# 열 방향으로 데이터프레임을 연결합니다.
pd.concat([dataframe_a, dataframe_b], axis=1)

In [ ]:
# 행을 만듭니다.
row = pd.Series([10, 'Chris', 'Chillon'], index=['id', 'first', 'last'])

# 행을 추가합니다.
dataframe_a.append(row, ignore_index=True)

In [ ]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터프레임을 만듭니다.
employee_data = {'employee_id': ['1', '2', '3', '4'],
                 'name': ['Amy Jones', 'Allen Keys', 'Alice Bees',
                 'Tim Horton']}
dataframe_employees = pd.DataFrame(employee_data, columns = ['employee_id',
                                                              'name'])

# 데이터프레임을 만듭니다.
sales_data = {'employee_id': ['3', '4', '5', '6'],
              'total_sales': [23456, 2512, 2345, 1455]}
dataframe_sales = pd.DataFrame(sales_data, columns = ['employee_id',
                                                      'total_sales'])

# 데이터프레임을 병합합니다.
pd.merge(dataframe_employees, dataframe_sales, on='employee_id')

In [ ]:
# 데이터프레임을 병합합니다.
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='outer')

In [ ]:
# 데이터프레임을 병합합니다.
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='left')

In [ ]:
# 데이터프레임을 병합합니다.
pd.merge(dataframe_employees,
         dataframe_sales,
         left_on='employee_id',
         right_on='employee_id')